body {
    overflow-x: hidden;
    margin-left: 15%;
    margin-right: 15%;
}

.navbar-default {
  padding-top: 10px;
  padding-bottom: 5px;

  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-bottom-color: #E7E7E7;
}

.navbar-default .navbar-brand {
  font-size: 30px;
}

.navbar-default li span {
  padding-right: 5px;
}

.content {
  padding-top: 20px;
}

.content p {
  padding-top: 10%;
  font-size: 20px;
}

.content ul {
  list-style-type: none;
  padding: 0px;
}

.content ul li {
  padding-top: 10px;
}

.content i {
  padding-right:5px;
}

.content .email {
  font-size:14px;
}

.content .media {
  padding:0px;
  font-size:30px;
}

.content .row {
  margin:0 2%;
}

.content .media a {
  color: #777777;
}

.content .media a:hover {
  color: #000000;
}

.projects {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E7E7E7;
}

.projects p {
  color: #777777;
  padding:5% 5% 0px;
  font-size:26px;
}
